.header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}

.a {
  text-decoration: none;
  color:rgb(135, 201, 36);
  font-size: 25px;
}

.ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.li {
  margin: 0 0 0 15px;
  font-size: 18px;
}

.pcnav {
  margin: 0 0 0 800px;
}